.box1{
    height: 300px;
    width: 300px;
    border: 5px dotted red;
    margin-top: 30px;
    margin-left: 30px;
    outline: 5px dashed blue;
    outline-offset: 10px;
}

p{
    background-color: coral;
    border: 2px solid black;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 25px;
    padding-bottom: 30px; 
    text-align: justify;
    text-align-last: justify;
}
#top1{
    vertical-align: super;
}
#top2{
    vertical-align: bottom;
}
